.cell {
  height: 100%;
  max-height: 500px !important;
  width: 100%;
  background: var(--card-colour);
  transition: all 0.4s ease-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell:hover {
  transition: all 0s;
  background: var(--card-colour-hover);
}
.cell:active {
  transition: all 0s;
  background: var(--card-colour-dark);
}
.cell.hit {
  background: rgb(10, 41, 141);
}

/* Create pulse animation */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ship {
  animation: fadeIn 0.5s;
  font-size: 4rem;
  color: white;
}
