:root {
  --card-colour-light: #fafafa;
  --card-colour: #ebebeb;
  --card-colour-darker: #d6d6d6;
  --card-colour-darkest: #c0c0c0;

  --water-light-colour: #00a0ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
